.all {

    background-color: #FAF2ED;

}

.dashboard {
    display: flex;
    flex-wrap: wrap; /* Wrap elements to next row if there's not enough space */
    justify-content: center; /* Center items horizontally */
    align-items: flex-start; /* Align items to the start of the cross axis */
    height: 200px;
    

}

.dashboard-box {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    height: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    border-color: black;
    margin: 0 25px 50px 0; /* Add margin between boxes */
    margin-top: 50px;
    

}
